In [1]:
import numpy as np
import pandas as pd
import string

In [3]:
def f(x):
    return 2*(x**4) + 2


(f(1.01) - f(1-0.01)) / 2*(0.01)

0.0008000800000000008

In [32]:
a = np.array([['a','b'],['d','e'],['d','z']])

a[:,1]

array(['b', 'e', 'z'], dtype='<U1')

In [16]:
dfa = pd.DataFrame(a, columns=['first','second'])
dfa

  first second
0     a      b
1     d      e
2     d      z

In [18]:
%%timeit
np.sum(a.T[0] == 'd') > 0

6.43 µs ± 388 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [19]:
%%timeit
'd' in dfa['first']

3.72 µs ± 196 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [25]:
b = np.random.choice(list(string.ascii_lowercase),  size=(100000,2))
dfb = pd.DataFrame(b, columns=['first','second'])

In [35]:
%%timeit
np.max(b[:,0] == 'd') > 0

714 µs ± 4.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [34]:
%%timeit
'd' in dfa['first']

3.27 µs ± 61.8 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [30]:
import pandas as pd
df = pd.DataFrame({"A": [1,2,3], "B": [1,2,3], "C": [1,2,3]})


df2 = pd.DataFrame({"A": [4], "B": [4], "C": [4]})

# 1000 loops, best of 3: 1.61 ms per loop

In [29]:
%%timeit
df.append(df2)

258 µs ± 18.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [31]:
%%timeit
df.loc[3] = 4

153 µs ± 7.76 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [27]:
df

   A  B  C
0  1  1  1
1  2  2  2
2  3  3  3
0  4  4  4

In [49]:

a = [ ['adfg','dfgb'], ['adfg','cdfhgg'], ['dfhgx','dghfj'], ['zjhg','ejhgf'] ]

In [55]:
%%timeit
'pqwoeipqwie' in [row[1] for row in a]

403 ns ± 6.77 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [56]:
np_a = np.array(a)

In [57]:
%%timeit
'pqwoeipqwie' in np_a[:,1]

3.66 µs ± 69.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [53]:
np_a

array([['adfg', 'dfgb'],
       ['adfg', 'cdfhgg'],
       ['dfhgx', 'dghfj'],
       ['zjhg', 'ejhgf']], dtype='<U6')

In [54]:
np_a.tolist()

[['adfg', 'dfgb'], ['adfg', 'cdfhgg'], ['dfhgx', 'dghfj'], ['zjhg', 'ejhgf']]

In [60]:
b = [[1,2,3], [1,2,3], [1,2,3]]

In [61]:
%%timeit
appendtest = b + [4,4,4]

108 ns ± 2.56 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

# test with s array

In [2]:
# arra = np.random.randint(100, size=(2000, 40))
arra = pd.util.testing.rands_array(25, (200000,4))

In [4]:
df = pd.DataFrame(arra, columns=['XY7ceRpB58', 'TJ6wXqcBTk', 'HibXgMEE6Z', 'F2XOapZrkt'])
df.iloc[5000:5005,:]
# df.tail()

,XY7ceRpB58,TJ6wXqcBTk,HibXgMEE6Z,F2XOapZrkt
5000,E7dy6dPSBKXXL6pBZdwKJxNQC,PL69qaG8izBBVnPOdXzMZc2tk,464iOqCZTmDjpF0LNCKTrELq8,VzWe11yTvEk7qApC0PlIgfbxa
5001,UB1mosNhEby4BxpwdB1Ab8U0l,4J6muph5yc8xvRMTdWLtGf3Es,pGGWnI8vYnzy3UDYP9WIqd02y,rY5V1BnyqgaFXsUjrSvw4iN9O
5002,X6pyDKSUwsIquOLfAKqvFLvxJ,Xv3q1btIwe1HKnEJYGy1iwR8c,LAb25OG5qvSZ5VrRf0lRslWCx,MhiOX0AUnkhPsSfKyS0GqGST8
5003,cTMYfo5GFYS9uTo4yrrmyZDmu,2X4sOxzHATS5QTGGByqXQpkBC,pKaXexRdmDwz6sK57xiZCcrkk,1dymcxKTveNrMap70bgZJWHOz
5004,K6ahLwBtTq3zukPCSXVfih0Rx,kZDrJRH4IFGgaBeIY1XCpYg3n,vEVNl8S6Yo7SlcPnJJdhlPki0,SvMoNNHJoGMtjO6MPTSUmnmoR

In [ ]:
dfa is None

In [ ]:
'true' if df else 'oh'

In [5]:
%%timeit
'pGGWnI8vYnzy3UDYP9WIqd02y' in df['HibXgMEE6Z']

3.02 µs ± 78.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [8]:
%%timeit
'pGGWnI8vYnzy3UDYP9WIqd02y' in df['HibXgMEE6Z'].values

7.52 ms ± 155 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
%%timeit
list(df.values)

In [ ]:
%%timeit
df.values.tolist()

In [136]:
npa = df.values

In [137]:
lista = df.values.tolist()

In [138]:
%%timeit
'XVgfqUKXpTXPu3CX72kcX8qDU' in df['oEQFsiXM3H']

3.58 µs ± 274 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [139]:
%%timeit
'XVgfqUKXpTXPu3CX72kcX8qDU' in [row[3] for row in lista]

17.1 ms ± 1.19 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [140]:
%%timeit
'XVgfqUKXpTXPu3CX72kcX8qDU' in npa[:,3]

6.09 ms ± 364 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [142]:
%%timeit
df['oEQFsiXM3H'].isin(['XVgfqUKXpTXPu3CX72kcX8qDU'])

6.05 ms ± 436 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [154]:
toappend = pd.DataFrame(pd.util.testing.rands_array(25, (1,4)), columns=['XY7ceRpB58', 'TJ6wXqcBTk', 'HibXgMEE6Z', 'F2XOapZrkt'])
df.append(toappend).tail()

,XY7ceRpB58,TJ6wXqcBTk,HibXgMEE6Z,F2XOapZrkt
199996,kI54jtOeNSVH88tIOvr80fz7W,3TKPE1ZgE9W0gReuEkWVYrTNI,pHvjUlXEmQJ15fUsgW7O6FizX,EjrUdH5ke93WbhbutA9QewNoL
199997,YFx2AXfcgz1g8CvEQwlJ7HKPg,C06wYUymvyAQY69rSfAUIFDiz,wqp2ZFKJYmNsfPOvDQB94sVZF,UVUHZJHmEN9KINH57zj7K809U
199998,zsUN2hYivsLzAsG9axBbDMBSH,DldyWDsi8F8qJlhxQ7ExjaJiw,wHWj7GYKJp8wYejRQ84hvtmvm,v65jowoHQEhpqrkJRo4cDNDJX
199999,5K4beYfVgYVEnJiVbv2Re463v,VxCVZEvn2IWcIWIAxN0OWJCVc,6BRnV9DqVSRGGXvvaZJYQ6sbz,XyPasU5KFF7zWL73aUmVhne7G
0,hLpel4xhUJJvpNmV6JSaH2FPs,jlX6dGBf1zbwrt5Wqre5otS0s,y7Dgll5abeCJN9qrRNJmHQx55,o4zveI0gFPwbVKPA305SsF29D

In [174]:
nptoappend = pd.util.testing.rands_array(25, 4)
dftoappend = pd.DataFrame(pd.util.testing.rands_array(25, (1,4)), columns=['XY7ceRpB58', 'TJ6wXqcBTk', 'HibXgMEE6Z', 'F2XOapZrkt'])

In [176]:
%%timeit
df.append(dftoappend)
'pHvjUlXEmQJ15fUsgW7O6FizX' in df['HibXgMEE6Z']

128 ms ± 1.43 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [191]:
%%timeit
df.loc[len(df.index)] = ['XY7ceRpB58XY7ceRpB58', 'TJ6wXqcBTkTJ6wXqcBTk', 'HibXgMEE6ZHibXgMEE6Z', 'F2XOapZrktF2XOapZrkt']
'pHvjUlXEmQJ15fUsgW7O6FizX' in df['HibXgMEE6Z']

26.7 ms ± 241 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [190]:
%%timeit
df.loc[len(df.index)] = np.array(['XY7ceRpB58XY7ceRpB58', 'TJ6wXqcBTkTJ6wXqcBTk', 'HibXgMEE6ZHibXgMEE6Z', 'F2XOapZrktF2XOapZrkt'])
'pHvjUlXEmQJ15fUsgW7O6FizX' in df['HibXgMEE6Z']

28.6 ms ± 2.23 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [180]:
%%timeit
len(df.index)

332 ns ± 1.71 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [163]:
%%timeit
df.shape[0]

1.08 µs ± 8.94 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [164]:
i = 909090

In [166]:
%%timeit
i + 1

50.7 ns ± 2.94 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)